
       <%@product.reviews.each do |product|%>
       <div class="col-sm-8">
          <dl class="dl-horizontal">
            <dt><%=product.user.first_name%> says:</dt>
            <dd><%= product.description %></dd>
            <dt>Rating</dt>
            <dd><%=product.rating%></dd>
          </dl>
        </div>
      </div>
  <%end%>